<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Xin chúc mừng! Email của bạn đã được xác thực</title>
  </head>
  <body>
    <div class="min-h-screen grid place-items-center">
      <div class="bg-white rounded-lg shadow-lg p-5 md:p-20 mx-2">
        <div class="text-center">
          <h2 class="text-3xl text-gray-800 font-bold">Xin chúc mừng!</h2>
          <p class="text-xl text-gray-600">Email của bạn đã được xác thực.</p>
          <p class="text-gray-600">
            Bạn có thể đăng nhập vào ứng dụng của chúng tôi bằng cách sử dụng
            địa chỉ email này.
          </p>
          <p class="text-gray-600">
            Hãy thoát khỏi ứng dụng và đăng nhập lại để xem thay đổi.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
